.wrapper {
  background-image: url('/assets/images/Home_Whole Freeze_Crush_Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  max-width: 1600px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
  overflow: hidden;
}

.pop_image {
  scale: 1.3;
  pointer-events: none;
}

.content {
  margin-top: -70px;
  max-width: 910px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 28px;
  color: #000;
}

.anchor_link {
  position: absolute;
  top: 50%;
}

@media (max-width: 768px) {
  .wrapper {
    background-position: 100% center;
  }
  .container {
    padding-top: 64px;
    padding-bottom: 104px;
  }
  .pop_image {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .anchor_link {
    position: absolute;
    top: -60px;
  }
}
@media (max-width: 480px) {
  .pop_image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .content {
    margin-top: 0;
    font-size: 16px;
    max-width: 306px;
  }
}
