@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  // overflow-y: hidden;
}

body {
  padding-top: 120px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  transition: all 0.3s ease;
}

body.mobile_nav_open {
  overflow: hidden !important;
}

.mobile_logo {
  display: none;
}

.masthead_carousel .slick-prev {
  left: 46px;
  z-index: 99;
}

.masthead_carousel .slick-next {
  right: 46px;
  z-index: 99;
}

.loading_screen::before {
  content: '';
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.loading_screen::after {
  content: '';
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 80px;
  margin: -40px 0 0 -50px;
  background-image: url('/assets/images/lemon-loader.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: loaderAnim 0.6s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    transform: scale3d(0.5, 0.5, 1);
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 60px;
  }

  .mobile_nav_open .mobile_logo {
    display: block;
    position: absolute;
    top: 7px;
    left: 17px;
    z-index: 9999999;

    img {
      width: 63px;
    }
  }

  .mobile_nav_open .dropdown-mobile-nav {
    display: block;
    margin-top: 150px;
  }

  .mobile_nav_open .mobile_nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
  }
}
