@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  // overflow-y: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
a {
  transition: all 0.3s ease;
}
body.mobile_nav_open {
  overflow: hidden;
}

.mobile_logo {
  display: none;
}
.masthead_carousel .slick-prev {
  left: 46px;
  z-index: 99;
}
.masthead_carousel .slick-next {
  right: 46px;
  z-index: 99;
}
@media (max-width: 768px) {
  .mobile_nav_open .mobile_logo {
    display: block;
    position: absolute;
    top: 14px;
    left: 17px;
    z-index: 9999;
  }
  .mobile_nav_open .dropdown-mobile-nav {
    display: block;
    margin-top: 150px;
  }
}
