.wrapper {
  background-color: #000;
  color: #fff;
}
.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.block {
  padding: 66px 0 60px;
}
.logo__img {
  margin-left: -15px !important;
}
.heading {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.copyright {
  background-color: #fff;
  color: #000;
  font-size: 12px;
  line-height: 1.3;
  padding: 30px 0;
}
.divider {
  background-color: #cfcfcf;
  height: 1px;
  margin: 36px auto 33px;
  width: 100%;
}
.nav_link {
  ul li {
    margin-bottom: 18px;
  }
  a {
    color: #979797;
    &:hover {
      color: #fff;
    }
  }
}
.social_media {
  margin-top: 56px;
}

.nav_content {
  transform: scaleY(1);
  height: auto;
}

@media (max-width: 768px) {
  .logo__img {
    margin-left: auto !important;
  }
  .social_media {
    margin-top: 32px;
    margin-bottom: 37px;
    img {
      height: auto;
    }
  }
  .nav_link {
    ul li {
      margin-bottom: 12px;
    }
  }
  .heading {
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
  }
  .heading.open {
    margin-bottom: 21px;
  }

  .heading::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url('/assets/images/ic-chevron.svg') no-repeat center center;
    background-size: contain;
  }
  .heading.open::after {
    transform: translateY(-50%) rotate(180deg);
  }
  .nav_content {
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.2s ease-out;
    height: 0;
    overflow: hidden;
  }
  .nav_content.open {
    transform: scaleY(1);
    height: auto;
  }
}
